<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3d party server</title>
</head>
<body>
    <h1>Welcome to 3-d party server!</h1>
    <button type="button", onClick="window.location.reload();">get up-to-date information</button>
    <div>
        <p>Current manipulator state is:</p>
        <h2>{{ state }}</h2>
        <p>Manipulator updated</p>
        <h2>{{ updated }}</h2>
    </div>
</body>
</html>